{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Hypnocrates</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'scripts/common.js' %}"></script>
	</head>
	<body>
		<div class="header">
			<p class="page-title"><a href="{% url 'post_list' %}">Hypnocrates</a></p>
			<p class="page-sub-title">Главная</p>
		</div>
		<div>
			<div class="form-block">
				<p class="hide-form bttn">Открыть окно создания треда</p>
				<form method="POST" style="display: none" class="form">{% csrf_token %}
					<table>
						{% for field in form %}
							{% if field.errors %}
								<tr>
									<td></td><td>{{ field.errors }}</td>
								</tr>
							{% endif %}
							<tr>
								<td>{{ field.label_tag }}</td><td>{{ field }}</td>
							</tr>
						{% endfor %}
					</table>
					<button type="submit" class="bttn save">Создать тред</button>
				</form>
			</div>
			{% for op, showed_posts, missed in thread_nodes %}
				<div class="thread">
					<div class="post op">
						<p>
							<span class="name">{{ op.author }}</span>
							<span>№{{ op.count_number }}</span>
							<span>{{ op.published_date }}</span>
							<a class="bttn" href="{% url 'thread_page' op.count_number %}">Ответ</a>
							<span class="bttn hide-thread">Скрыть</span>
						</p>
						<p>
							<span>last_pub is {{ op.last_publish }} //in production delete this</span>
						</p>
						<div class="title-text">
							<p class="title"><b>{{ op.title }}</b></p>
							<p>{{ op.text }}</p>
						</div>
					</div>
					<br>
					{% if missed != 0 %}
						<p class="missed">Пропущено {{ missed }} пост(ов)</p>
					{% endif %}
					{% for post in showed_posts %}
						<div class="post">
							<p>
								<span class="name">{{ post.author }}</span>
								<span>№{{ post.count_number }}</span>
								<span>{{ post.published_date }}</span>
							<div class="title-text">
								<p>{{ post.text }}</p>
							</div>
						</div>
						<br>
					{% endfor %}
					<br>
				</div>
			{% endfor %}
		</div>
	</body>
</html>