<!DOCTYPE html>
<html>
	<head>
		<title>Imageboard</title>
	</head>
	<body>
		{% for thread in posts %}
			<div class="thread" style="border: 1px solid; margin-bottom: 5px">
				{% for post in thread %}
					<div class="post" style="border-bottom: 1px solid">
						<p><span>pk - </span>{{ post.pk }}</p>
						<p><span>thrd - </span>{{ post.thrd }}</p>
						<p>{{ post.author }}</p>
						<a href="{% url 'post_page' post.pk %}"><p>{{ post.title }}</p></a>
						<p>{{ post.text }}</p>
						<p>{{ post.published_date }}</p>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</body>
</html>