{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Hypnocrates</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'scripts/common.js' %}"></script>
	</head>
	<body>
		<div class="header">
			<p class="page-title"><a href="{% url 'post_list' %}">Hypnocrates</a></p>
			<p class="page-sub-title">Главная</p>
		</div>
		<div>
			<div class="form-block">
				<p class="hide-form bttn">Открыть окно создания треда</p>
				<form method="POST" enctype="multipart/form-data" style="display: none" class="form">{% csrf_token %}
					<table>
						{% for field in form %}
							{% if field.errors %}
								<tr>
									<td></td><td>{{ field.errors }}</td>
								</tr>
							{% endif %}
							<tr>
								<td>{{ field.label_tag }}</td><td>{{ field }}</td>
							</tr>
						{% endfor %}
					</table>
					<button type="submit" class="bttn save">Создать тред</button>
				</form>
			</div>
			{% for op, showed_posts, missed in thread_nodes %}
				<div class="thread">
					<div class="post op">
						<table>
							<tr>
								<td>
									{% if op.image %}
										<a target="_blanc" href="{{ op.image.url }}">
											<img width="200" src="{{ op.image.url }}"/>
										</a>
									{% endif %}
								</td>
								<td>
									<p>
										<span class="name">{{ op.author }}</span>
										<span>№{{ op.count_number }}</span>
										<span>{{ op.published_date }}</span>
										<a class="bttn" href="{% url 'thread_page' op.count_number %}">Ответ</a>
										<span class="bttn hide-thread">Скрыть</span>
									</p>
									<div>
										{% if op.title %}
											<p class="title"><b>{{ op.title }}</b></p>
										{% endif %}
										<p>{{ op.text|linebreaksbr }}</p>
									</div>
								</td>
							</tr>
						</table>
					</div>
					{% if missed != 0 %}
						<p class="missed">Пропущено {{ missed }} пост(ов)</p>
					{% endif %}
					{% for post in showed_posts %}
						{% if showed_posts|first != post %}
							<br>
						{% endif %}
						<div class="post">
							<p>
								<span class="name">{{ post.author }}</span>
								<span>№{{ post.count_number }}</span>
								<span>{{ post.published_date }}</span>
							</p>
							<table>
								<tr>
									<td>
										{% if post.image %}
											<a target="_blanc" href="{{ post.image.url }}">
												<img width="200" src="{{ post.image.url }}"/>
											</a>
										{% endif %}
									</td>
									<td>
										<div class="title-text">
											<p>{{ post.text|linebreaksbr }}</p>
										</div>
									</td>
								</tr>
							</table>
						</div>
					{% endfor %}
					<br>
				</div>
			{% endfor %}
		</div>
	</body>
</html>