{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Тред №{{ thrd }}</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'scripts/common.js' %}"></script>
	</head>
	<body>
		<div class="header">
			<p class="page-title"><a href="{% url 'post_list' %}">Hypnocrates</a></p>
			<p class="page-sub-title">Тред №{{ thrd }}</p>
		</div>
		<div class="main-content">
			<div class="form-block">
				<p class="hide-form bttn">Открыть форму ответа</p>
				<form method="POST" style="display: none" class="form">{% csrf_token %}
					<table>
						{% for field in form %}
							{% if field.errors %}
								<tr>
									<td></td><td>{{ field.errors }}</td>
								</tr>
							{% endif %}
							<tr>
								<td>{{ field.label_tag }}</td><td>{{ field }}</td>
							</tr>
						{% endfor %}
					</table>
					<button type="submit" class="bttn save">Ответить</button>
				</form>
			</div>
			<div class="thread">
				{% for post in posts %}
					<div class="post">
						<p class="info"><span class="name">{{ post.author }}</span><span class="number">  №{{ post.pk }}</span><span class="date">  {{ post.published_date }}</span>
						{% if posts|first == post %}
							<p class="title"><b>{{ post.title }}</b></p>
						{% endif %}
						<p>{{ post.text }}</p>
					</div>
					<br>
				{% endfor %}
			</div>
		</div>
	</body>
</html>