p {
	margin: 0
}

body {
	margin: 0;
	background: #fffadd;
	font-family: 'Roboto', sans-serif;
}

body, a, a:link, a:visited {
	color: #675000;
}

a {
	text-decoration: none;
}

a:hover {
	color: #302600;
}

.header {
	padding: 30px;
}

.page-title {
	font-size: 50px
}

.page-sub-title {
	font-size: 25px;
	margin-left: 50px;
	position: relative;
	bottom: 10px;
}

form td {
	margin-bottom: 5px;
}

form td * {
	font-size: 20px;
}

.post-form {
    margin-left: 70px;
    margin-bottom: 30px;
}

form td:first-child {
    text-align: right;
    position: relative;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid #bababa;
    padding: 2px;
    padding-left: 5px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #302600;
    background: #fffdf1;
}

textarea {
    height:  100px;
}

button.save {
    color:  #675000;
    display: block;
    width: 50%;
    margin: auto;
    outline: none;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.thread {
	border-top: 1px solid #675000;
	padding: 30px 20px;
}

.post {
	border: 1px solid #675000;
	padding: 15px;
	border-radius: 5px;
	margin-top: 5px;
	display: inline-block;
	background: #fce0c3;
	font-size: 26px;
}

.op {
	border: none;
	padding: 20px;
	margin-top: 0;
	background: #fffadd;
}

.errorlist {
	margin-bottom: 0;
	list-style: none;
	margin-top: 0.5em;
	padding-left: 0;
}

.errorlist li {
    display:  inline-block;
    border: 1px solid #ff000075;
    font-size: 20px;
    padding:  2px;
    border-radius: 5px;
    background: #ff00001f;
}

.first-post-par {
	position: absolute;
	left: 500px;
	padding-top: 25px;
}

.thread-number {
	margin-left: 20px;
	margin-right: 5px
}

.name {
	color: #ba650e;
}

.bttn {
    border: 2px solid #675000;
    padding: 2px;
    border-radius: 9px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    background: transparent;
}

.bttn:hover {
	color: #302600;
	border-color: #302600;
}

.title-text {
	margin-top: 10px;
}

.form-block {
	padding-left: 10px;
	display: inline-block;
	margin: 20px 60px;
	padding-bottom: 20px;
}

.hide-form {
	text-align: center;
	font-size: 28px;
	margin-bottom: 8px;
	width: 518px;
}

.missed {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #84743c;
}

.title {
	margin-bottom: 5px;
}

.post td:nth-child(2) {
	vertical-align: top;
	margin-left: 20px
}